body {
    background-color: #26003f !important;
}
h1 {
    color: #0d4600;
    text-align: center;
}
p {
    color: #0d4600;
}
a {
    color: #1400a5 !important;
    text-decoration: none !important;
}