body {
    background-color: #11001d !important;
}
h1 {
    color: #1a8b00;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-family: 'Gadugi';
    text-shadow: 2px 2px black;
}
h3 {
    color: #1a8b00;
    font-style: italic;
    font-weight: bold;
    font-family: 'Gadugi';
    text-shadow: 2px 2px black;
}
h4 {
    color: #4bb932;
    font-style: italic;
    font-weight: bold;
    font-family: 'Gadugi';
    text-shadow: 2px 2px black;
}
h4:hover {
    color: #0d4600;
    cursor: pointer;
}
h4:active {
    color: #0f3108;
    cursor: pointer;
}
p {
    color: #358d21;
    font-size: larger !important;
    text-shadow: 2px 2px black;
    font-family: 'Gadugi';
}
a {
    color: #002ca5 !important;
    text-decoration: none !important;
    text-align: center !important;
    font-size: x-large !important;
    font-weight: bold;
    text-shadow: 2px 2px black;
    font-family: 'Gadugi';
}
a:visited {
    color: pink !important;
}
a:hover {
    color: #00227e !important;
}
a:active {
    color: #7e0000 !important;
}
iframe {
    display: block;
    margin: 0 auto 1em auto;
}
.p-contact-link {
    color: #002ca5 !important;
    text-decoration: none !important;
    text-align: center !important;
    font-size: large !important;
    font-family: 'Gadugi';
}
.a-pdf-download {
    color: #002ca5 !important;
    text-decoration: none !important;
    text-align: center !important;
    font-size: medium !important;
}
.nav {
    background: rgba(177, 0, 0, 0.3) !important;
    border: 1px solid #0d4600 !important;
}
.nav-item {
    opacity: 100%;
}
.container-fluid {
    padding-right: var(--bs-gutter-x, 3rem);
    padding-left: var(--bs-gutter-x, 3rem);
    padding-top: 1em;
}
.container-content {
    background: rgba(20, 0, 165, .25) !important;
    border: 2px solid #0d4600 !important;
    padding-bottom: 1em !important;
}
.btn.btn-primary {
    background-color: #0d4600 !important;
    border-color: #0d4600 !important;
    padding: 1.75rem 3.00rem !important;
    color: gray !important;
}
.btn.btn-primary-pdf {
    background-color: #0d4600 !important;
    border-color: #0d4600 !important;
    color: gray !important;
}
.form-control {
    background: #222 !important;
    border: 1px solid #222 !important;
    color: white !important;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
.landing-imgs {
    display: block;
    margin: 0 auto 0 auto;
}
.edits-imgs {
    display: block;
    margin: 0 auto 0 auto;
}
.landscapes-imgs {
    display: block;
    margin: 0 auto 0 auto;
}
.academics-imgs {
    display: block;
    margin: auto;
}
.contact-imgs {
    display: block;
    margin: 0.5em auto 0.5em auto;
}