body {
    background-color: #26003f !important;
}
h1 {
    color: #0d4600;
    text-align: center;
    font-style: italic;
}
p {
    color: #0d4600;
}
a {
    color: #1400a5 !important;
    text-decoration: none !important;
    text-align: center !important;
    font-size: x-large !important;
}
.nav {
    background: rgba(255, 0, 0, 0.3) !important;
    border: 1px solid #0d4600 !important;
}
.nav-item {
    opacity: 100%;
}
.container-content {
    background: rgba(20, 0, 165, .25) !important;
    border: 2px solid #0d4600 !important;
}
.btn.btn-primary {
    background-color: #0d4600 !important;
    border-color: #0d4600 !important;
    padding: 1.75rem 3.00rem !important;
}